body {
    background-color: gray;
}

.todo-item {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 8px;
    transition: background-color 0.3s ease; 
}


.todo-item.done {
    background-color: #48BB78;
    color: white;
}


.todo-item.notdone {
    background-color: #F56565; 
    color: white;
}

.todo-item li {
    flex-grow: 1;
    font-size: 16px;
}

form {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

form img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

form button {
    background-color: #F56565;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    margin-left: 8px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #E53E3E;
}

form button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(239, 68, 68, 0.6);
}
